@import './mixin';

html, body {
  height: 100%;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


/* 单行文本溢出出现省略号 */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 1行行文本溢出出现省略号 */
.clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/*使子元素col变成flex布局*/
.flex-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex_one {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}

.flex_two {
  -moz-box-flex: 2;
  -webkit-box-flex: 2;
  box-flex: 2;
}

.flex_auto {
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
}

/*子元素纵向排列*/
.flex-box.flex-col {
  flex-direction: column;
}

/*子元素上下左右居中*/
.flex-box.top-left-center {
  align-items: center;
  justify-content: center;
}

// 按钮不可点击
.btn-disable {
  background: #b1b1b1 !important;
  pointer-events: none;
  transition: all .25s;
}

.btn-disable-light {
  background: #F3F2F2 !important;
  pointer-events: none;
  transition: all .25s;
}

.clear:after {
  display: block;
  content: ".";
  clear: both;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
}

.clear {
  clear: both;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.anim_linear {
  transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.anim {
  transition: all .4s cubic-bezier(.58, 2, .68, .58);
}

.threeD {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.pageBox {
  position: relative;
  height: 100%;
  background-color: #f2f6f9;
}

